.dot{
	color:rgba(50, 110, 128, 0.5) ;
}
body
{
	margin:0;
	padding:0;
	background:url("cal_notice.jpg");
	background-size:cover;
	font-family: sans-serif; 
}
.img{
	position:absolute;
	top:15%;
	left:50%;
	box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.8), 0 12px 26px 0 rgba(0, 0, 0, 0.25);
  
}

.loginBox
{
	position:absolute;
	top:56%;
	left:34%;
	transform: translate(-50%, -50%);
	width:490px;
	height:548px;
	padding:80px 40px;
	box-sizing: border-box;
	background:rgba(66, 66, 66, 0.5) ;
	
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.8), 0 12px 26px 0 rgba(0, 0, 0, 0.25);
	
}



h2
{
	margin:0;
	padding:0 0 20px;
	color:#2c2d2d;
	text-align:center;
} 



.loginBox p
{
	padding:0;
	margin:0;
	font-weight:bold;
	color:#fff;
	
} 


.loginBox input
{
	width:100%;
	margin-bottom: 20px; 
}

.loginBox input[type="text"], .loginBox input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline:none;
	height:40px;
	color:rgb(37, 36, 41);
	font-size: 16px;
	
	
}


.loginBox input[type="submit"]
{
	border:none;
	outline:none;
	height: 40px;
	color:#fff;
	font-size:20px;
	background: rgb(89, 146, 169);
	cursor:pointer;
	border-radius:20px;
}


.loginBox input[type="submit"]:hover
{
	background: #415865;
	color: #262626;
}
 
 
 

.loginBox a
{
	color: #fff;
	font-size:14px;
	font-weight:bold;
} 


::placeholder
{
	color:rgba(255,255,255,0.5); 
}


.user
{
	width:100px;
	height:100px; 
	overflow:hidden;
	position:absolute;
	top:calc(-100px/2);
	left:calc(50% - 50px);
	border-radius:50%;
}
 

